.title {
  font-weight: 600;
  padding: 16px;
  margin: 16px;
  background-color: #7F97A7;
  border-radius: 8px;
}


.style-carte-show {
  margin-top: 16px;
  max-width: 1000px;
  max-height: 700px;
  ul {
      list-style: none;
     }
}

.thumbnail-card {
  padding: 16px
}

.img-thumbnail {
  width: 100px;
  height: 100px;
  padding: 0; // overwrite de la classe img-thumbnail

}

.specification-title {
  margin: Opx ;
}

.img {
  width: 100%;
}
