.title {
  font-weight: 600;
  padding: 16px;
  margin: 16px;
  background-color: #7F97A7;
  border-radius: 8px;
}

.container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    list-style: none;
  }
}

.img {

}
