<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Super ! Tu viens de louer une belle Bécane !</h5>
    <p class="card-text">À BIENTÔT</p>
    <a href="/" class="btn btn-primary">Retourner au Menu</a>
  </div>
  <div class="card-footer text-muted">
    Updated Just Now !
  </div>
</div>
